/* Buttons */

button {
  background-color: $pine;
  color: $text;
  font-weight: 400;
  border: none;
  border-radius: 0.3rem;
  font-family: $main-font;
  padding: 0 2rem;
  margin: 0.5rem 0.5rem;
  height: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;

  &.border {
    border: 1px solid $text;
  }

  &:hover {
    background-color: $pine-dark;
  }

  &.secondary {
    background-color: $overlay;
  }

  &.warning {
    background-color: $love;
  }
}

.section {
  button.secondary {
    background-color: $subtle;
  }
}
