/* Forms */

// TODO:
  // Add focus states
  // Ensure everything looks normal when next to each other.
  //


input,
textarea,
select {
  color: var(--text);
  background-color: transparent;
  border: 0.1rem solid var(--text);
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  padding: 0.6rem 1rem 0.7rem;
  max-width: 60%;
  margin-bottom: 1rem;
}

form {
  display: block;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

option {
  color: var(--base);
  height: 20px;
}
