/* Typography  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  letter-spacing: -0.1rem;
  margin-top: 0;
  font-family: var(--main-font);
  color: var(--text);
  display: block;
}

h1 {
  font-size: 4.6rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}

b,
strong {
  font-weight: bold;
}


