@import "_variables";
@import "_buttons";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@import "_forms";
@import "_typography";

@use "sass:color";

:root {
  --shadow-color: #2c2d2c;

  --main-bg-colour: #0e121b;
  --bg-colour-accent-light: #1e212a;
  --bg-colour-accent-dark: #12151e;

  --primary-font-colour: #4c2354;
  --primary-colour: #c578db;

  --secondary-colour: #79918b;
  --accent-blue: #5a83a9;

  /*  Rose Pine Colours  */
}

*,
*:after,
*:before {
  box-sizing: inherit;
  font-family: $main-font;
}

html {
  font-size: 16px;
}
body {
  background-color: $surface;
  font-family: $main-font;
  color: $text;
}

/* Misc Spacing */
.section {
  max-width: 80%;
  border-radius: 3px;
  padding: 1rem;
  margin: 2rem auto;
  display: block;
  justify-content: center;
  background-color: $overlay;
}

.section button {
}

.section.colours,
.section.buttons {
}

.section.heading {
  flex-direction: column;
  text-align: center;
}

.colour {
  border-radius: 4px;
  cursor: default;
  height: 50px;
  line-height: 50px;
  padding: 0 1rem;
  color: $text;
  display: inline-block;
  margin: 10px 20px;
  text-align: center;
  font-family: $main-font;
}

.base {
  background-color: $base;
}

.surface {
  background-color: $surface;
}

.overlay {
  background-color: $overlay;
}

.inactive {
  background-color: $inactive;
}

.text {
  color: $text;
  background-color: $overlay;
  border: 1px solid $text;
}

.love {
  background-color: $love;
}

.gold {
  background-color: $gold;
}

.rose {
  background-color: $rose;
}

.pine {
  background-color: $pine;
}

.foam {
  background-color: $foam;
}

.iris {
  background-color: $iris;
}

.highlight {
  background-color: $highlight;
}

.highlight-inactive {
  background-color: $highlight-inactive;
}

.highlight-overlay {
  background-color: $highlight-overlay;
}

.card {
  background-color: $overlay;
  min-height: 2rem;
  min-width: 4rem;
  padding: 2rem;
  border-radius: 0.3rem;
}
